.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.logo-text {
    width: 100px;
}

.bi {
    margin-right: 10px;
}

.story {
    height: 70px;
    padding: 10px;
    cursor: pointer;
}

.dp {
    height: 20px;
    width: 20px; 
    margin-top: 5px;
    margin-right: 5px;
}

.image {
    width: 300px;
    height: 250px;
}

.suggestions h5 {
    font-size: 16px;
}

.suggestions .dp {
    margin-top: 2px !important;
}

.gradient-border {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}

.story-dp {
    width: 40px;
    height: 40px;
} 

.story-image {
    border-radius: 10px;
    width: 75vh;
}

.profile {
    width: 150px;
    height: 150px;
}

.follow {
    width: 30px;
    height: 30px;
}

.profile-dp {
    margin-left: 35px;
}